.wrapper {
}
.orderSelect {
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 1000px;
}
.centerGridItems {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  position: relative;
  border: 1px solid transparent;
}
.centerGridItems:hover {
  border: 1px solid lightgray;
  cursor: pointer;
}
.centerGridItems:hover > button.addToCart {
  background-color: goldenrod;
  cursor: pointer;
  transition: 0.2s;
}
.smallBorder {
  border: 1px solid goldenrod;
  width: 20px;
  justify-self: center;
}
.free {
  background-color: black;
  color: white;
  margin: 0;
  width: 70px;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-self: end;
  position: absolute;
  top: 10px;
  right: 10px;
}
.costs {
  display: none;
}
.productImgs {
  width: 250px;
  margin-top: 25px;
}
.pricing {
  margin-bottom: 0;
}
.installments {
  color: darkgray;
  margin-top: 0;
}
.addToCart {
  height: 55px;
  width: 225px;
  background-color: black;
  color: white;
  border: none;
  justify-self: center;
  margin-bottom: 10px;
}
.cart {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 500px;
  background-color: rgb(25, 25, 29);
  color: white;
  width: 450px;
}
.cartItems {
  display: grid;
  grid-template-columns: 70px auto 70px;
  align-items: center;
  padding: 15px;
  border: 1px solid white;
}
.cart::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 450px;
  width: 60px;
  height: 60px;
  background-color: rgb(25, 25, 29);
  color: white;
  border: none;
  padding: 0px;
}

.thumbs {
  width: 60px;
}
.itemTitle {
  font-size: 12px;
  margin: 0;
}
.itemStyle {
  font-size: 12px;
  margin: 0;
  color: gray;
}
.quantityCount {
  font-size: 12px;
  margin: 0;
  color: gray;
}
.delButton {
  background-color: rgb(25, 25, 29);
  color: gray;
  outline: none;
  border: none;
}
.itemPrice {
  color: goldenrod;
  font-size: 12px;
  margin: 0;
}
.lessQuantity {
  background-color: rgb(25, 25, 29);
  color: gray;
  outline: none;
  border: none;
}
.moreQuantity {
  background-color: rgb(25, 25, 29);
  color: gray;
  outline: none;
  border: none;
}
.itemTotals {
  text-align: right;
}
.quantitiesButtons {
  display: flex;
  justify-content: flex-end;
}
